<h4>Afdelingnaam</h4>
<h1>HAAAAAAAAAAAI</h1>

<mat-table [dataSource]="patientInfoes">
  <ng-container matColumnDef="Patient">
    <mat-header-cell *matHeaderCellDef>Patiënt</mat-header-cell>
    <mat-cell *matCellDef="let patient">{{patient.firstname + ' ' + patient.lastname}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LaatsteMeting">
    <mat-header-cell *matHeaderCellDef>Laatste Meting</mat-header-cell>
    <mat-cell *matCellDef="let patient">{{patient.age}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Ews">
    <mat-header-cell *matHeaderCellDef>EWS</mat-header-cell>
    <mat-cell *matCellDef="let patient">{{patient.ews}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table>
